body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: white;
  padding: 30px;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
}

.logo img {
  width: 70px;
  height: auto;
}

nav {float: right;}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #333;
}

main {
  padding: 20px;
  text-align: center;
  margin: 80px auto 80px auto;
}

main table{margin: 100px auto 100px auto;}

main .signUp-btn{float: right;}

main .go-signup-btn{float: right;}

.main-image {text-align: center;}

.main-image img {
  width: auto;
  height: 100%;
}

main .myPage-table table{margin: 50px auto 50px auto;}

main .myPage-table table td{width: 500px;}

main .star-table tr{height: 130px;}

main .star-table td{width: 100px;}


main .star-table img{
  height: 100px;
  width: auto;
}

main .my-table td{width: 50px;}

main .my-table tr{height: 50px;}

main .my-table button{float: right;}

.bold{font-weight: bold;}

footer {
  background-color: white;
  padding: 30px;
  text-align: center;
}

.image-container img{
  display: table;
  margin: 100px auto 300px auto;
}

.reply-regis-btn{float: right;}

.reply-table table{margin: 0 auto 100px auto;}

.reply-table table tr{height: 50px;}

.replyer{
  text-align: center;
  width: 100px;
}

.reply-content{
  text-align: center;
  width: 500px;
}

.signUp-table table{
  width: 400px;
  margin: 0 auto 100px auto;
}

.my-modify-table tr{height: 50px;}

.my-modify-table table{width: 300px;}

.my-modify-table .user-modify-btn{float: right;}

.art-list-table table{
  margin: 0 auto 100px auto;
  width: 1000px;
}

.art-list-table img{height: 100px;}

.art-list-table tr{height: 130px;}

.my-art-list-table table{
  margin: 0 auto 100px auto;
  width: 1000px;
}

.my-art-list-table img{height: 100px;}

.my-art-list-table tr{height: 130px;}

.my-art-list-table button{float: right;}

.art-regis-btn{float: right;}

textarea{resize: none;}

.art-regis-table table tr{height: 50px}

.art-regis-table table{width: 500px}

a:link{color: black;}

a:visited { color:black;}

a:hover { color:gray;}

a{text-decoration: none;}
